VITE_CONTRACT_ADDRESS=CA4RTVJ4RETLRL5DM4GMZWF4VUKOVSRKYHBKR5KL76MNEIU7QN4BK52V
VITE_NETWORK=testnet
VITE_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
VITE_HORIZON_URL=https://horizon-testnet.stellar.org
